In [ ]:
# импортируем необходимые для работы библиотеки

In [1]:
import pandas as pd

In [2]:
path = ('./2_bookings.csv')

In [3]:
bookings = pd.read_csv(path, sep = ';')
bookings.head()

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03

In [5]:
bookings.loc[bookings['Lead Time']==342]

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
8222,Resort Hotel,0,342,2016-09-18,2016,September,39,18,4,10,...,2,0.0,1,BB,GBR,D,D,Contract,Check-Out,2016-10-02
8437,Resort Hotel,0,342,2016-09-27,2016,September,40,27,4,10,...,2,0.0,0,HB,GBR,E,E,Transient,Check-Out,2016-10-11
8438,Resort Hotel,0,342,2016-09-27,2016,September,40,27,4,10,...,2,0.0,0,HB,GBR,E,E,Transient,Check-Out,2016-10-11
8452,Resort Hotel,0,342,2016-09-29,2016,September,40,29,2,4,...,1,0.0,0,BB,IRL,A,A,Transient,Check-Out,2016-10-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76974,City Hotel,1,342,2015-09-24,2015,September,39,24,2,4,...,2,0.0,0,BB,PRT,A,A,Transient,Canceled,2015-08-21
77140,City Hotel,1,342,2015-09-24,2015,September,39,24,2,4,...,2,0.0,0,BB,PRT,A,A,Transient,Canceled,2015-09-09
104457,City Hotel,0,342,2017-01-12,2017,January,2,12,0,2,...,1,2.0,0,BB,AUS,D,D,Transient,Check-Out,2017-01-14
104458,City Hotel,0,342,2017-01-12,2017,January,2,12,0,2,...,2,0.0,0,BB,AUS,D,D,Transient,Check-Out,2017-01-14
116624,City Hotel,0,342,2017-07-16,2017,July,29,16,2,5,...,2,1.0,0,HB,FRA,A,A,Transient,Check-Out,2017-07-23

Hotel – тип отеля (City Hotel или Resort Hotel)  
Is canceled – бронирование было отменено (1) или нет (0); не отмененное считается успешным
Lead time – количество дней, прошедших между датой бронирования и датой прибытия  
Arrival full date – полная дата прибытия
Arrival date year – год прибытия  
Arrival date month – месяц прибытия  
Arrival date week number – номер недели прибытия
Arrival date day of month – день прибытияStays in weekend nights – количество выходных (суббота или воскресенье), которые гость забронировал для проживания в отеле
Stays in week nights – количество дней (с понедельника по пятницу), которые гость забронировал для проживания в отеле
Stays total nights – общее число забронированных ночей (сумма двух предыдущих колонок)
Adults – число взрослых
Children – число детей
Babies – число младенцев 
Meal – выбранный тип питания
Country – страна происхождения клиента
Reserved room type – тип зарезервированного номера
Assigned room type – тип полученного номера (может отличаться от забронированного)
Customer type – тип бронирования
Reservation status – значение последнего статуса брони: Canceled - было отменено клиентом; Check-Out - клиент зарегистрировался, но уже покинул отель; No-Show - клиент не зарегистрировался и сообщил администрации отеля причину
Reservation status date – дата обновления статуса

**Посмотрите на размеры таблицы. Сколько всего в ней столбцов?**

In [8]:
len(bookings.columns)

21

**К какому типу относится большинство переменных?**

In [10]:
bookings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 21 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Hotel                      119390 non-null  object
 1   Is Canceled                119390 non-null  int64
 2   Lead Time                  119390 non-null  int64
 3   arrival full date          119390 non-null  object
 4   Arrival Date Year          119390 non-null  int64
 5   Arrival Date Month         119390 non-null  object
 6   Arrival Date Week Number   119390 non-null  int64
 7   Arrival Date Day of Month  119390 non-null  int64
 8   Stays in Weekend nights    119390 non-null  int64
 9   Stays in week nights       119390 non-null  int64
 10  stays total nights         119390 non-null  int64
 11  Adults                     119390 non-null  int64
 12  Children                   119386 non-null  float64
 13  Babies                     119390 non-null  int64
 14  Meal                       119390 non-null  object
 15  Country                    118902 non-null  object
 16  Reserved Room Type         119390 non-null  object
 17  Assigned room type         119390 non-null  object
 18  customer type              119390 non-null  object
 19  Reservation Status         119390 non-null  object
 20  Reservation status_date    119390 non-null  object
dtypes: float64(1), int64(10), object(10)
memory usage: 19.1+ MB

**Как вы уже могли заметить, при сборе датасета произошла небольшая ошибка, и названия колонок были записаны в неудобном для дальнейшей работы формате. Исправьте ситуацию, приведя названия столбцов к нижнему регистру и заменив пробелы на знак нижнего подчеркивания. 
Например: Is Canceled -> is_canceled**

In [19]:
bookings.columns = bookings.columns.str.lower().str.replace(' ', '_')

**Перейдем к исследованию данных! Пользователи из каких стран совершили наибольшее число успешных бронирований? Бронирование считается успешным, если в дальнейшем не было отменено (переменная is_canceled). В качестве ответа выберите страны, входящие в топ-5.**

In [20]:
bookings.query('is_canceled == 0').value_counts('country').head(5)

country
PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
dtype: int64

**На сколько ночей (stays_total_nights)  в среднем бронируют отели типа City Hotel? Resort Hotel? Запишите полученные значения в пропуски с точностью до 2 знаков после точки.**

In [21]:
bookings.groupby('hotel').aggregate({'stays_total_nights' : 'mean'}).round(2)

              stays_total_nights
hotel
City Hotel                  2.98
Resort Hotel                4.32

**Иногда тип номера, присвоенного клиенту (assigned_room_type), отличается от изначально забронированного (reserved_room_type). Такое может произойти, например, по причине овербукинга.
Сколько подобных наблюдений встретилось в датасете?
(отмена бронирования также считается)**

In [22]:
bookings.query("assigned_room_type != reserved_room_type").shape

(14917, 21)

**Теперь проанализируйте даты запланированного прибытия (arrival_date_year).
На какой месяц чаще всего оформляли бронь в 2016 году? Изменился ли самый популярный месяц в 2017?**

In [23]:
bookings.query('arrival_date_year == 2016').value_counts('arrival_date_month')

arrival_date_month
October      6203
May          5478
April        5428
September    5394
June         5292
August       5063
March        4824
July         4572
November     4454
February     3891
December     3860
January      2248
dtype: int64

In [24]:
bookings.query('arrival_date_year == 2017').value_counts('arrival_date_month')

arrival_date_month
May         6313
April       5661
June        5647
July        5313
March       4970
August      4925
February    4177
January     3681
dtype: int64

**Сгруппируйте данные по годам, а затем проверьте, на какой месяц (arrival_date_month) бронирования отеля типа City Hotel отменялись чаще всего в 2015? 2016? 2017?**

In [64]:
bookings.query('is_canceled == 1'  and 'hotel == "City Hotel"') \
        .groupby(['arrival_date_year', 'arrival_date_month']) \
        .agg({'adults' : 'count'}) \
        .sort_values(['arrival_date_year', 'adults'], ascending=False)

                                      adults
arrival_date_year arrival_date_month
2017              May                   4556
                  June                  3971
                  April                 3919
                  July                  3559
                  March                 3412
                  August                3125
                  February              2594
                  January               2372
2016              October               4219
                  June                  3923
                  September             3871
                  May                   3676
                  April                 3561
                  August                3378
                  July                  3131
                  November              3122
                  March                 3046
                  December              2478
                  February              2371
                  January               1364
2015              September             3529
                  October               3386
                  August                2480
                  December              1654
                  July                  1398
                  November              1235

**Посмотрите на числовые характеристики трёх колонок: adults, children и babies. Какая из них имеет наибольшее среднее значение?**

In [66]:
bookings[['adults', 'children', 'babies']].mean().idxmax()

'adults'

**Создайте колонку total_kids, объединив столбцы children и babies. Для отелей какого типа среднее значение переменной оказалось наибольшим?
City hotel – отель находится в городе
Resort hotel – отель курортный
В качестве ответа укажите наибольшее среднее total_kids, округлив до 2 знаков после точки.**

In [67]:
bookings['total_kids'] = bookings['children'] + bookings['babies']

In [68]:
bookings.groupby('hotel').aggregate({'total_kids' : 'mean'}).round(2)

              total_kids
hotel
City Hotel          0.10
Resort Hotel        0.14

**Не все бронирования завершились успешно (is_canceled), поэтому можно посчитать, сколько клиентов было потеряно в процессе. Иными словами, посчитать метрику под названием Churn Rate.    
Churn rate (отток, коэффициент оттока) – это процент подписчиков (например, на push-уведомления от сайта), которые отписались от канала коммуникации, отказались от услуг сервиса в течение определенного периода времени. Иными словами, представляет собой отношение количества ушедших пользователей к общему количеству пользователей, выраженное в процентах.
В нашем случае Churn Rate - это процент клиентов, которые отменили бронирование. Давайте посмотрим, как эта метрика связана с наличием детей у клиентов!    
Создайте переменную has_kids, которая принимает значение True, если клиент при бронировании указал хотя бы одного ребенка (total_kids), в противном случае – False. Далее проверьте, среди какой группы пользователей показатель оттока выше. 
В качестве ответа укажите наибольший % оттока, округленный до 2 знаков после точки (то есть доля 0.24563 будет 24.56% и в ответ пойдёт 24.56)**

In [76]:
bookings['has_kids'] = bookings.total_kids > 0

In [77]:
no_kids_churn = bookings.query('is_canceled == 1 and has_kids == False').shape[0] / bookings.query('has_kids == False').shape[0]
no_kids_churn = round(no_kids_churn * 100, 2)

In [78]:
no_kids_churn

37.22

In [83]:
yes_kids_churn = bookings.query('is_canceled == 1 and has_kids == True').shape[0] / bookings.query('has_kids == True').shape[0]
yes_kids_churn = round(yes_kids_churn * 100, 2)

In [84]:
yes_kids_churn

34.92

Альтернативный вариант решения:

In [75]:
# True, если больше или равно 1, False если меньше
bookings['has_kids'] = bookings['total_kids'] >= 1

# группируемся по нужному полю, для каждой группы берем колонку is_canceled 
# используем value_counts с параметром normalize=True, чтобы показали долю в %
rates = bookings.groupby('has_kids')['is_canceled'].value_counts(normalize=True)

# округляем и показываем результат
round(rates * 100, 2)

has_kids  is_canceled
False     0              62.78
          1              37.22
True      0              65.08
          1              34.92
Name: is_canceled, dtype: float64